<launch>
    <!-- send erratic description to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find wubble_description)/urdf/wubble.urdf.xacro'" />
    
    <!-- start all hardware systems -->
    <include file="$(find wubble_controllers)/launch/wubble_controllers.launch" />
    <include file="$(find ua_erratic_player)/launch/erratic_base.launch" />
    
    <!-- Publish joint_states information -->
    <node name="joint_states_publisher" pkg="wubble_controllers" type="joint_states_publisher.py" />
    <node name="erratic_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    
    <!-- Start the hokuyo laser -->
    <node name="tilt_laser" pkg="hokuyo_node" type="hokuyo_node" respawn="false" output="screen">
        <remap from="scan" to="tilt_laser/scan"/>
        <param name="frame_id" value="laser_link"/>
    </node>
    
    <!-- Laser Filters -->
    <node pkg="laser_filters" type="scan_to_cloud_filter_chain" respawn="true" name="laser_shadow_filter">
        <remap from="scan" to="tilt_laser/scan" />
        <remap from="cloud_filtered" to="tilt_scan_shadow_filtered" />
        <param name="target_frame" value="base_footprint" />
        <param name="high_fidelity" value="false" />
        <rosparam command="load" file="$(find wubble_description)/params/shadow_filter.yaml" />
    </node>
    
    <!-- Start the camera in STOC mode -->
    <include file="$(find videre_stereo_cam)/launch/videre.launch" />
    
    <!-- Start Actions -->
<!--    <include file="$(find wubble_robot)/launch/robot_actions.launch" /> -->
    
    <!-- Start Teleop -->
<!--    <include file="$(find wubble_teleop)/launch/wubble_logitech.launch" />-->
</launch>

