<launch>
<!--
    <node pkg="semantic_point_annotator" type="sac_inc_ground_removal_node" name="sac_ground_removal" output="screen" >
        <remap from="tilt_laser_cloud_filtered" to="neck_scan/self_filtered2" />
        <remap from="cloud_ground_filtered" to="neck_scan/ground_object_cloud" />
        <param name="z_threshold" value="0.015" />
        <param name="sac_min_points_per_model" value="40" />
        <param name="sac_distance_threshold" value="0.05" />
        <param name="planar_refine" value="1" />
        <param name="laser_tilt_mount_frame" value="neck_scan_mount_link" />
    </node>
-->
</launch>
