<launch>
    <!-- send wubble robot XML to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find wubble_description)/urdf/wubble.urdf.xacro'" />
    
    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="spawn_robot" pkg="gazebo" type="spawn_model"
          args="-param robot_description
                -urdf
                -z 0.01
                -model robot_description"
          respawn="false" output="screen" />
          
    <!-- start robot state publisher -->
    <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen" >
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>
    
    <!-- Laser Controller -->
    <rosparam file="$(find wubble_description)/controllers/wubble_laser_controller.yaml" command="load" />
    <node name="laser_controller_spawner" pkg="pr2_controller_manager" type="spawner" 
          args="laser_tilt_controller" output="screen" />
    
    <!-- Laser Filters -->
    <node pkg="laser_filters" type="scan_to_cloud_filter_chain" respawn="true" name="laser_shadow_filter">
        <remap from="scan" to="tilt_laser/scan" />
        <remap from="cloud_filtered" to="tilt_scan_shadow_filtered" /> <!-- Probably want to rename this to use namespaces -->
        <param name="target_frame" value="base_footprint" />
        <param name="high_fidelity" value="false" /> <!-- Turning this on slows down the laser a lot -->
        <rosparam command="load" file="$(find wubble_description)/params/shadow_filter.yaml" />
    </node>
    
    <!-- enable navigation -->
    <include file="$(find wubble_description)/launch/wubble_move_base.launch" />
    
    <!-- Actions for Base and Laser -->
    <node name="laser_action" pkg="wubble_actions" type="hokuyo_laser_action.py" output="screen" >
        <param name="controller" value="laser_tilt_controller"/>
    </node>
    
    <node name="erratic_base_action" pkg="wubble_actions" type="erratic_base_action.py" output="screen" />
</launch>

