<launch>

<!--
    <node name="joystick_service" pkg="joy" type="joy_node" args="" output="screen">
        <param name="dev" type="string" value="/dev/input/js1" />
    </node>
-->

    <!-- Start the Dynamixel motor manager to control all SmartArm servos -->
  <include file ="$(find pr2lite_arm_navigation)/launch/pr2lite_dynamixel.launch" />
    <node name="gripper_teleop" pkg="prlite_grippers" type="gripper_teleop.py" output="screen" />

</launch>

