<launch>
    <include file="$(find prlite_arm_navigation)/launch/prlite_planning_environment.launch" />
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="prlite_left_arm_kinematics">
        <param name="group" type="string" value="left_arm" />
        <param name="left_arm/root_name" type="string" value="left_arm_shelf_link" />
        <param name="left_arm/tip_name" type="string" value="left_gripper_left_link" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="prlite_right_arm_kinematics">
        <param name="group" type="string" value="right_arm" />
        <param name="right_arm/root_name" type="string" value="right_arm_shelf_link" />
        <param name="right_arm/tip_name" type="string" value="right_gripper_left_link" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
    <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="prlite_torso_lift_kinematics">
        <param name="group" type="string" value="torso_lift" />
        <param name="torso_lift/root_name" type="string" value="torso_lift_link" />
        <param name="torso_lift/tip_name" type="string" value="torso_link" />
        <param name="kinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin" />
    </node>
</launch>
