<launch>

  <!-- node name="arm_controller" pkg="pr2lite_arm_navigation" type="follow_controller.py" output="screen" -->
  <!-- node name="arm_controller" pkg="pr2lite_arm_navigation" type="follow_controller_simple.py" output="screen"-->
  <node name="arm_controller" pkg="pr2lite_arm_navigation" type="follow_controller_simple.py" output="screen" >
      <rosparam file="$(find pr2lite_arm_navigation)/config/pr2lite_arm.yaml" command="load" />
      <param name="my_arm_controller" value="arm_controller"/>
  </node>
  <node name="arm_controllerR" pkg="pr2lite_arm_navigation" type="follow_controller_simple.py" output="screen">
      <rosparam file="$(find pr2lite_arm_navigation)/config/pr2lite_arm.yaml" command="load" />
      <param name="my_arm_controller" value="arm_controllerR"/>
  </node>

  <node name="gripper_controller" pkg="arbotix_controllers" type="parallel_gripper_controller.py">
      <param name="invert" value="true"/>
      <param name="pad_width" value="0.0254"/>
  </node>

</launch>
