<launch>
    <include file="$(find pr2lite_actuators)/launch/linact_server.launch" />
    <include file="$(find pr2lite_arm_navigation)/launch/arbotix_arm.launch" />
    <!-- include file="$(find pr2lite_arm_navigation)/launch/arbotix_linact.launch" -->
    <node pkg="pr2lite_arm_navigation" type="fake_pub.py" name="fake_pub" />
    <node pkg="tf" type="static_transform_publisher" name="quaternion_bc" args="0 0 0 0 0 1 world_joint base_footprint 100" />
</launch>
