<launch>
    <include file="$(find pr2lite_arm_navigation)/launch/move_groups.launch" />
    <include file="$(find pr2lite_arm_navigation)/launch/point_head.launch" />
    <include file="$(find pr2lite_arm_navigation)/launch/torso_follow_controller.launch" />
    <include file="$(find pr2lite_arm_navigation)/launch/pr2lite_vision.launch" />
</launch>
