<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="prlite_move_left_gripper">
        <param name="group" type="string" value="left_gripper" />
        <remap from="arm_ik" to="prlite_left_gripper_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="left_gripper_controller/follow_joint_trajectory" />
    </node>
</launch>
