<launch>
    <!-- send erratic description to param server -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find prlite_urdf)/robot.xml'" />


    <!-- Load the joystick service -->
    <node name="joystick_service" pkg="joy" type="joy_node" 
args="" output="screen"/>

    <!-- include file="$(find prlite_base)/controller.launch" -->
    <!--
    -->
    <!-- Start the low-level serial driver and controller manager -->
    <!--
    -->
    <include file="$(find ax12_controller_core)/launch/controller_manager.launch" />
    
    <!-- Start the smart_arm controller -->
    <!-- <include file="$(find smart_arm_controller)/launch/prlite.launch" /-->
    <include file="$(find prlite_kinematics)/launch/dual_armik.launch" />

    <!-- node pkg="prlite_teleop" type="ax12_to_pr2_state_msgs.py" name="ax12_to_pr2" /-->


  <node pkg="prlite_teleop" type="prlite_teleop_general_joystick" name="prlite_teleop_general_joystick" output="screen">
  	<param name="control_body" type="bool" value="true"/>
        <param name="control_head" type="bool" value="false"/>
        <param name="control_larm" type="bool" value="true"/>
        <param name="control_rarm" type="bool" value="true"/>
	<param name="control_prosilica" type="bool" value="false"/>
  	<param name="walk_along_x_speed_scale" type="double" value="3.0"/>
  	<param name="walk_along_y_speed_scale" type="double" value="1.0"/>
  	<param name="walk_along_w_speed_scale" type="double" value="3.0"/>
  	<param name="walk_along_x_dist_max" type="double" value=".25"/>
  	<param name="walk_along_y_dist_max" type="double" value=".20"/>
  	<param name="kinect_follow" type="int" value="2"/>
  </node>

</launch>
