<launch>

<!--
  <param name="port" type="str" value="/dev/ttyS0" />
  <param name="port" type="str" value="/dev/prlite-neato" />
  <param name="port" type="str" value="/dev/ttyACM0" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base"
    args="-0.1016 0 0.0889 0 0 0 lidar_base_link base_link 50" />
    args="-0.1016 0 0.0889 0 0 0 base_link lidar_base_link 100" />
-->
<!--
  <node name="neato" pkg="pr2lite_nav" type="pr2lite_neato.py" output="screen" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base"
    args="-0.0 0 0.0 0 0 0 base_link lidar_base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="laser_to_base2"
    args="-0.1016 0 0.0889 0 0 0 base_link neato_link 100" />
-->
  <node name="neato_laser_publisher" pkg="xv_11_laser_driver" type="neato_laser_publisher" output="screen" >
        <remap from="scan" to="base_scan"/>
        <param name="/frame_id" value="/neato_link"/>
        <param name="port" type="str" value="/dev/prlite-neato" />
  </node>
<!--
    <node name="neck_laser" pkg="hokuyo_node" type="hokuyo_node" respawn="false"
 output="screen">
        <remap from="scan" to="base_scan"/>
        <param name="port" value="/dev/prlite-hokuyo"/>
        <param name="min_ang" value="-2.08"/>
        <param name="max_ang" value="2.08"/>
        <param name="frame_id" value="/laser_link"/>
    </node>
-->
        <!-- param name="frame_id" value="neck_scan_link" -->
        <!-- param name="intensity" value="true" -->


</launch>
